@use 'reset/reset';
@use 'foundation/foundation';

// PAGE
:root{
    --accent-color: #0874A1;
    --base-padding: 1rem;
    --base-border-radius: 50%;
    --experience-container-padding: 1rem;
}
body {
    font-family: 'Merriweather', serif;
    font-size: 10pt;
    margin: 0;
}
h2{
    text-align: center;
    padding: calc( var( --base-padding) * .5);
}

// SECTION: Contact Information
.contact-info{
    margin:0;
    padding: var( --base-padding);
    justify-content: space-between;
    box-shadow: 0 0 3px rgba(0,0,0,.75);
    background-color: rgb(228, 228, 228);
    display: flex;
}
.icon{
    width: 40%;
    position:relative;
    img{
        margin:0;
        border-radius: var( --base-border-radius );
    }
}
.me{
    height: 5rem;
    width: auto;
    border-radius: var( --base-border-radius );
}
.contact-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: .15rem;
    .name{
        font-family: 'Magra', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
    }
}
.downloads{
    font-weight: bold;
    font-size: .75rem;
}
.docs{
    display: flex;
    background-color: white;
    border-radius: .15rem;
    justify-content: space-around;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span{
        display:flex;
        width: 2rem;
        height: 2rem;
        padding: 0;
        pointer-events: none;
        margin: 5px;
    }
}
/* SVG colors for social media */
.bg-color {
    fill: rgb(255, 255, 255);
}
.fg-color {
    fill: var( --accent-color );
}
.linked-in,
.github,
.art-station,
.behance{
    --backgroundColor: var( --accent-color );
    --color: white;
}

// SECTION EDUCATION
.certificate{
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    column-gap:  1rem;
    margin: 1rem 0;
    padding: var( --base-padding );
    border-bottom: 1px dotted rgb(161, 161, 161);
    .title{
        font-family: 'Magra', sans-serif;
        font-size: .85rem;
        font-weight: bold;
    }
}
.certificate-image{
    --image-size: 5rem;
    position:relative;
    display: flex;
    background-color: #fff;
    min-width:  var( --image-size );
    max-width:  var(--image-size );
    min-height: var( --image-size );
    max-height: var(--image-size);
    align-content: center;
    justify-content: center;
    border-radius: var( --base-border-radius );
    padding: calc( var( --base-padding) * .5 );
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center center;
}
.uwo, .pmi, .team-w, .coursera, .psm-1, .pspo-1, .psu-1, .clp-provisional{
    background-image: var( --bg-image);
}
.certificate-content{
    display: flex;
    flex-direction: column;
}
.location-info{
    display: flex;
    flex-direction: column;
}

//SKILL SECTION
.skill{
    font-size: .95em;

    background-color: rgb(232, 232, 232);
    padding: calc( var( --base-padding ) * .25 );
    margin: calc( var( --base-padding) * .25) 0;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    div{
        padding: calc( var( --base-padding ) * .25 );
    }
}
.skill-title{
    width: 17rem;
}
.skill-measure {
    height: 1rem;
    width: 15rem;
    border-radius: .5rem;
}
//ARTICLES SECTION
.articles {
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.articles-container {
    display: relative;
    margin: 0 10px;
    width: 100%;
    height: 100%;
}

.articles-slides {
    list-style: none;
    padding: 0;
    margin: 0;
}

#article-image {
    width: 100%;
    height: auto;
}

.articles-button {
    font-weight: bold;
    font-size: 14pt;
    width: 1.5rem;
    background-color: rgb(187, 187, 187);
    color: rgb(255, 255, 255);
    border-width: 0;
    cursor: pointer;
}
//EXPERIENCE SECTION
.experience{
    font-size: .9rem;
    margin: var( --base-padding ) 0;
    padding-bottom: var( --base-padding );
    border-bottom: 1px dotted var( --accent-color );
    img{
        width:  8rem;
        height: 2.5rem;
    }
    .date{
        --date-frame-color: #696969;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        .from, 
        .to{
            display:flex;
            flex-direction: column;
            padding: .1rem .5rem;
            background-color: var( --date-frame-color );
            border: 1px solid var(--date-frame-color);
            border-radius: .35rem;
            color: white;
        }
        .title{
            font-size: .75rem;
            text-transform: uppercase;
            text-align: center;
        }
        .month{
            background-color: #fff;
            color: var(--date-frame-color);
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;;
            margin: 0 -.5rem;
        }
    }
    .company{
        color: rgb(82, 82, 82);
    }
    .location{
        font-style: italic;
    }
    .accomplishments{
        li{
            padding: calc( var( --base-padding ) * .25 );
        }
    }
}
.experience-head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    padding:0 var( --base-padding );
    font-family: 'Magra', sans-serif;
}
.role {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: .5rem;
    justify-content: space-around;

}
.experience-factors {
    padding: var(--experience-container-padding);
    display: flex;
    justify-content: space-between;
}

.factors-text {
    display: flex;
    flex-direction: column;
}
.split-percentage {
    display: flex;
    flex-direction: column;
    padding: .25rem 0 .25rem .5rem;
    gap: .05rem;
    font-size: 8pt;
    font-weight: bold;
    width: 150px;
    border-left: 1px dotted rgb(188, 188, 188);
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .05rem;
    height: 1.1rem;
    width: 100%;
    padding: .25rem 0;
    border-radius: .05rem;
    .title, .percentage{
        display: flex;
        align-items: center;
    }
}

.split .title {
    height: 1rem;
    color: rgb(54, 54, 54);
    min-width: 90px;
    max-width: 90px;
}

.split .percentage {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
    height: 1rem;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    background: linear-gradient(90deg, rgb(236, 153, 59) 0%, rgb(236, 153, 59) var(--split-percent), rgb(180, 180, 180) var(--split-percent));
}
/*
.experience-factors{
    padding: var(--experience-container-padding);
    display: flex;
    justify-content: space-between;
}
.factors-text{
    display: flex;
    flex-direction: column;
}
.factor-pie{
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: var( --base-border-radius );
    justify-content: center;
    align-items: center;
}
.factor-pie-middle{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: var( --base-border-radius );
}

.accomplishments ul{
    margin:0;
}

.split-percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7pt;
    color: rgb(44, 44, 44);
    row-gap: 5px;
    margin-top: calc( var( --base-padding ) * .5 );
    height: 1rem;
    min-width: 115px;
    max-width: 115px;
    background-color: rgb(162, 162, 162);
    overflow: hidden;
}
.split-percentage:hover {
    cursor: crosshair;
}

.split-management,
.split-technical,
.split-creative {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.1rem;
    width: calc(115px * var(--split-percent));
}

.split-management {
    background-color: #ADD3FF;
}

.split-technical {
    background-color: #739AC6;
}

.split-creative {
    background-color: #C7A973;
}
*/
@media screen and (min-width: 800px) {
    .page-content{
        display: flex;
        gap:2rem;
        justify-content: center;
    }
    .sidebar{
        max-width: 400px;
        gap: 1em;
    }
    .main-content{
        gap:1em;
        min-width: 350px;
        max-width: 800px;
    }
    .certificate{
        margin: .15rem;
        padding: 0 .15rem;
    }
    .certificate-image{
        min-height: calc( var( --image-size ) * .5);
        max-height: calc( var( --image-size ) * .5);
    }
    .location-info{
        flex-direction: row;
        column-gap: .15rem;
    }
    .skill{
        margin: 0;
        border-radius: 0;
        border-bottom: 1px solid rgb(138, 138, 138);
        div{
            padding: .15rem;
        }
    }
}