@use 'reset/reset';
@use 'foundation/foundation';

//PAGE
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14pt;
    margin: 2rem;
}

// SECTION: Contact Information
.contact-info{
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0 0 3px rgba(0,0,0,.75);
    background-color: rgb(228, 228, 228);
}
.icon{
    display:block;
    position:relative;
    float:left;
    clear:none;
    img{
        margin: 0 1rem 0 0;
        border-radius: 50%;
    }
}
.me{
    height: 5rem;
    width: auto;
    border-radius:50%;
}
.social img{
    width: 35px;
    height:35px;
    display: inline-block;
    margin: 5px;
    color:rgba(121, 120, 120, 0.75);
}
.linked-in{
    --color1: red;
}

// SECTION EDUCATION
.education{
    margin: 1rem 0 .5rem 0;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, .75);
    background-color: rgb(228, 228, 228);
}
.certificate{
    display: block;
    position: relative;
    clear:right;
}
.certificate-image{
    display:block;
    position:relative;
    float:left;
    clear:none;
    background-color: #fff;
    margin-right: 1rem;
    border-radius: 50%;
    overflow: hidden;
    img{
        width:  100px;
        height: 100px;
        padding: .25rem;
    }
}
.experience{
    img{
        width:  130px;
        height: 75px;
    }
    .from, 
    .to,
    .month,
    .year{
        display: inline-block;
    }
    .from::after{
        content: " - ";
    }
    .month::after{
        content: " /";
    }
}
.accomplishments ul{
    margin:0;
}
